* {
    box-sizing: border-box;
  }
body{
    background: url(../Images/counter_bg.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    height:100%;
}

.counter_area{
    width: 58vw;
    height: 40rem;
    border: 3px solid whitesmoke;
    margin: 3.5rem auto;
    box-shadow: 2px 2px 10px black, -2px 0px 8px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    background: url(../Images/counter_bg.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: whitesmoke;
    font-weight: 550;
    font-size: 35px;
}

h2 {
    color: green;
    font-size: 220px;
    line-height: 30px;
    font-weight: 500;
}
button{
    width: 190px;
    height: 160px;
    background-color: #0d2c54 ;
    color: white;
    padding: 8px;
    margin-bottom: 1rem;
    border-radius: 6px;
    font-weight: 500;
    font-size: 18px;  
    box-shadow: 2px 2px 8px black;
}
 button:active{
     border: 1px solid whitesmoke;
 }
 .small_size_btn{
       width: 10rem;
 }
@media(max-width:380px){ 
    .counter_area{
        width: 70vw;
    }
     button{
         width: 160px;
         height:150px;
     }
     .small_size_btn{
        width: 140px;
  }
}
